$mrvl-white: #ffffff;
$mrvl-black: #151515;
$mrvl-red: #e62429;
$mrvl-gray: #999999;

$font-family: 'Roboto',;

$font-size-extra-small: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-extra-large: 20px;

$font-weight-normal: 400;
$font-weight-bold: 900;
